@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial.ttf");
}

@font-face {
  font-family: "Georgia";
  font-weight: 400;
  src: url("../../assets/fonts/georgia.ttf");
}

@font-face {
  font-family: "Georgia";
  font-weight: 700;
  src: url("../../assets/fonts/georgiab.ttf");
}

:root {
  --font-additional: "Georgia", serif;
  --color-primary: #f1cdb3;
  --color-modal: #000000;
  --color-transparent: transparent;
  --color-light-s: #fafafa;
  --color-light-m: #fddcc4;
  --color-light-l: #f6f6f6;
  --color-light-xl: #ffffff;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-3xl: #292929;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  font-family: "Arial", serif;
  font-style: normal;
  font-weight: 400;
}

/* ----------------------------HEADER---------------------------- */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  background-color: var(--color-light-xl);
  background-size: 100%;
  position: sticky;
  top: 0;
}

.header-container {
  display: flex;
  background-repeat: no-repeat;
  height: 120px;
}

.logo-title {
  /* font-family: "Georgia", serif; */
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  /* font-size: 32px; */
  font-size: 3.2rem;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  padding-top: 30px;
  margin: 0;
}

.logo-subtitle {
  display: block;
  /* font-family: "Arial", serif;
  font-style: normal;
  font-weight: 400; */
  /* font-size: 13px; */
  font-size: 1.3rem;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  padding-top: 10px;
  padding-left: 3px;
}

.logo-link-title {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-dark-l);
}

.logo-link-subtitle {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-dark-3xl);
}

.header-nav {
  margin-left: auto;
  padding-top: 46px;
}

.header-li {
  display: inline-block;
  list-style: none;
  padding-left: 34px;
  /* padding-right: 3px; */
}

.header-link {
  /* font-family: "Arial", serif;
  font-style: normal;
  font-weight: 400; */
  /* font-size: 15px; */
  font-size: 1.5rem;
  line-height: 160%;
  color: var(--color-dark-l);
  text-decoration: none;
  transition: 0.7s;
  border-bottom: 3px solid var(--color-transparent);
}

.header-link:hover {
  color: var(--color-dark-3xl);
}

.bottom {
  border-bottom: 3px solid var(--color-primary);
  padding-bottom: 4px;
  color: var(--color-dark-3xl);
}

/* ----------------------------OUR FRIENDS---------------------------- */
.our-friends {
  background-color: var(--color-light-l);
  background-size: 100%;
}

.our-friends-container {
  height: 1342px;
  padding-top: 80px;
}

.our-friends-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.our-friends-title {
  /* font-family: "Georgia", serif; */
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  /* font-size: 35px; */
  font-size: 3.5rem;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  padding-bottom: 57px;
}

.our-friends-catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  padding-bottom: 31px;
}

.card-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light-s);
  border-radius: 9px;
  transition: 0.7s;
}

.card:hover {
  background-color: var(--color-light-xl);
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card-image {
  border-radius: 9px 9px 0px 0px;
}

.card-name {
  /* font-family: "Georgia", serif; */
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  /* font-size: 20px; */
  font-size: 2rem;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  padding-top: 33px;
}

.card-button {
  padding: 14px 44px;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  background-color: var(--color-light-s);
  margin: 27px 0px;
  transition: 0.7s;
}

.card:hover .card-button {
  background-color: var(--color-light-m);
  cursor: pointer;
  border: var(--color-light-m);
}

/* ----modal---- */
.card-link {
  text-decoration: none;
  /* font-family: "Georgia", serif; */
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  /* font-size: 17px; */
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
}

.modal-block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(41, 41, 41, 0.6);
  transition: all 0.7s ease 0s;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.modal-block:target {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

.modal-block:target .modal-content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.modal-content {
  position: relative;
  max-width: 900px;
  height: 500px;
  margin: 10% auto;
  border-radius: 9px;
  background-color: var(--color-light-s);
  border: none;
  transform: translate(0px, -100%);
  opacity: 0;
  transition: all 0.7s ease 0s;
}

.close-all {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.close {
  background: rgba(41, 41, 41, 0.6);
  line-height: 25px;
  position: absolute;
  right: -43px;
  top: -50px;
  width: 52px;
  height: 52px;
  padding: 10px 15px;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  transition: 0.7s;
}

.close:hover {
  background-color: var(--color-light-m);
  cursor: pointer;
}

.modal-image {
  position: absolute;
  border-radius: 9px;
  border: none;
  width: 500px;
  height: 500px;
  top: 0;
  left: 0;
}

.modal-box {
  margin-left: 520px;
  display: flex;
  flex-direction: column;
}

.modal-title {
  padding-left: 10px;
  padding-top: 50px;
  padding-bottom: 10px;
  /* font-family: "Georgia", serif; */
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  /* font-size: 35px; */
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-modal);
}

.modal-subtitle {
  padding-left: 10px;
  /* font-family: "Georgia", serif; */
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  /* font-size: 20px; */
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-modal);
}

.modal-text {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 10px;
  width: 360px;
  /* font-family: "Georgia", serif; */
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  /* font-size: 15px; */
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-modal);
}

.modal-ul {
  padding: 0;
  padding-left: 20px;
  padding-top: 23px;
}

.modal-li {
  padding-bottom: 10px;
  color: var(--color-primary);
}

.modal-span1 {
  padding-left: 5px;
  /* font-family: "Georgia", serif; */
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 700;
  /* font-size: 15px; */
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-modal);
}

.modal-span2 {
  /* font-family: "Georgia", serif; */
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  /* font-size: 15px; */
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-modal);
}

.slider-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 34px;
}

.slider-button {
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-dark-s);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  background-color: var(--color-light-l);
}

.one {
  border: 2px solid var(--color-light-m);
  background-color: var(--color-light-m);
}

.switch {
  border: 2px solid var(--color-primary);
  transition: 0.7s;
}

.switch:hover {
  background-color: var(--color-light-m);
  cursor: pointer;
  border: var(--color-primary);
}

/* ----------------------------FOOTER---------------------------- */
.footer {
  background-image: url("../../assets/images/bg2-footer-1280.jpg");
  background-size: 100%;
}

.footer-container {
  height: 350px;
}

.footer-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts {
  padding-top: 57px;
  width: 280px;
}

.footer-title {
  /* font-family: "Georgia", serif; */
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  /* font-size: 35px; */
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-light-xl);
}

.link-box-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 38px;
}

.footer-icon-contacts-email {
  padding-right: 20px;
  padding-bottom: 2px;
}

.footer-icon-contacts-phone {
  padding-right: 20px;
  padding-bottom: 2px;
}

.footer-link {
  /* font-family: "Georgia", serif; */
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  /* font-size: 20px; */
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  text-decoration: none;
}

.link-email {
  padding-right: 28px;
}

.link-tel {
  padding-right: 40px;
}

.locations {
  padding-top: 55px;
  width: 300px;
}

.link-box-locations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 302px;
  padding-top: 32px;
}

.link-map {
  padding-right: 10px;
}

.link-map2 {
  padding-right: 32px;
  padding-top: 3px;
}

.footer-image {
  padding-top: 40px;
}

.footer-puppy1 {
  display: block;
}

.footer-puppy3 {
  display: none;
}
