/* -----------------------768px------------------------- */

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 30px;
  }

  /* ----------------------------OUR FRIENDS---------------------------- */
  .our-friends {
    background: #f6f6f6;
    background-size: 100%;
  }
  .our-friends-container {
    height: 1733px;
    padding-top: 80px;
  }
  .our-friends-block {
    padding-left: 19px;
    padding-right: 19px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .our-friends-title {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
  }
  .our-friends-catalog {
    padding-bottom: 0;
  }
  .card-box {
    justify-content: space-evenly;
  }
  .card {
    margin-bottom: 32px;
  }
  .card7,
  .card8 {
    display: none;
  }
  .card-name {
    padding-top: 24px;
  }
  .card-button {
    /* padding: 14px 44px; */
    margin-top: 27px;
    /* margin: 27px 0px; */
    /* margin-left: 3px; */
    padding: 13px 44px;
  }
  .slider-block {
    padding-top: 10px;
  }

  /* ------modal------- */
  .modal-content {
    max-width: 630px;
    height: 350px;
    margin: 10% auto;
  }
  .close {
    right: -43px;
    top: -53px;
    background: transparent;
  }
  .modal-image {
    width: 350px;
    height: 350px;
  }
  .modal-box {
    margin-left: 350px;
  }
  .modal-title {
    padding-top: 9px;
    padding-left: 10px;
  }
  .modal-subtitle {
    padding-left: 10px;
  }
  .modal-text {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    width: 275px;
    font-size: 13px;
    line-height: 110%;
  }
  .modal-li {
    padding-bottom: 4px;
    padding-left: 4px;
  }
  .modal-ul {
    margin-left: 22px;
    padding: 0;
  }
  .modal-span1 {
    padding-left: 0;
    margin-right: 0;
  }

  /* ----------------------------FOOTER---------------------------- */

  .footer-container {
    height: 639px;
  }
  .footer-block {
    justify-content: space-around;
  }
  .contacts {
    padding-top: 29px;
    margin-left: 5px;
  }
  .locations {
    padding-top: 29px;
    margin-right: 5px;
  }
  .footer-image {
    padding-top: 63px;
  }
}

/* -----------------------320px------------------------- */
@media (max-width: 320px) {
  .container {
    max-width: 320px;
    padding: 0;
  }

  /* ----------------------------HEADER---------------------------- */
  .header-container {
    justify-content: space-between;
  }
  .logo-title {
    padding-top: 30px;
    padding-left: 10px;
  }
  .logo-subtitle {
    padding-top: 10px;
    padding-left: 15px;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 40px;
    right: 53px;
    z-index: 2;
  }
  .hamburger.change {
    transform: rotate(90deg);
  }
  .hamburger .line {
    width: 30px;
    height: 2px;
    display: block;
    background-color: #000000;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
    transition: 0.7s;
  }
  .hamburger:hover {
    cursor: pointer;
    /* filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
      brightness(92%) contrast(87%); */
  }
  /* .header-nav {
    display: none;
  } */
  .header-nav {
    position: fixed;
    width: 320px;
    right: -320px;
    height: 823px;
    top: 0;
    background: #ffffff;
    /* background-image: url("../../assets/images/bg-burger-320.jpg"); */
    overflow-x: hidden;
    transition: right 0.8s;
    z-index: 1;
    padding-top: 249px;
    padding-right: 21px;
  }

  .header-ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
    /* margin: 0; */
  }

  .header-li {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 41px;
    margin-right: 15px;
  }

  .header-link {
    font-size: 32px;
  }

  .header-nav.navbar {
    position: absolute;
    right: 0px;
  }
  /* .logo-title.navbar {
    position: absolute;
    right: 0px;
  } */

  /* .header-nav {
    display: none;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 40px;
    right: 53px;
    z-index: 2;
  }
  .hamburger.change {
    transform: rotate(90deg);
  }
  .hamburger .line {
    width: 30px;
    height: 2px;
    display: block;
    background-color: #000000;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
    transition: 0.7s;
  }
  .hamburger:hover {
    cursor: pointer;
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
      brightness(92%) contrast(87%);
  } */

  /* ----------------------------OUR FRIENDS---------------------------- */
  .our-friends-container {
    height: 1649px;
    padding-top: 41px;
  }
  .our-friends-block {
    padding: 0;
  }
  .our-friends-title {
    font-size: 25px;
    padding-bottom: 40px;
  }
  .our-friends-catalog {
    flex-direction: column;
    padding-bottom: 8px;
  }
  .card4,
  .card5,
  .card6,
  .card7,
  .card8 {
    display: none;
    padding: 0;
  }
  .card4 {
    padding: 0;
  }
  .card-name {
    padding-top: 25px;
  }
  .card-button {
    padding: 13px 45px;
    margin-top: 28px;
    /* margin-left: 39px; */
    /* margin-bottom: 30px; */

    /* margin: 27px 0px; */
    /* margin-left: 44px; */
    /* margin-bottom: 3px; */
  }
  .card {
    margin-bottom: 29px;
    /* padding-bottom: 0; */
  }
  .slider-block {
    /* margin-top: 10px; */
    /* padding-top: 10px; */
    padding: 0;
    margin: 0;
    /* margin-bottom: 30px; */
    /* padding-bottom: 96px; */
  }
  .slider-button {
    width: 52px;
    height: 52px;
    border: 2px solid #cdcdcd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    /* margin-bottom: 60px; */
  }

  /* ------modal------- */
  .modal-content {
    max-width: 240px;
    height: 341px;
  }
  .close {
    background: transparent;
    right: -30px;
    top: -51px;
  }
  .modal-image {
    display: none;
  }
  .modal-box {
    padding: 0;
    margin: 0;
  }
  .modal-title {
    padding-top: 10px;
    /* padding-left: 15px; */
    text-align: center;
    padding-bottom: 10px;
    padding-left: 2px;
  }
  .modal-subtitle {
    text-align: center;
    padding-right: 8px;
  }
  .modal-text {
    margin-bottom: 46px;
    padding-right: 0;
    padding-left: 8px;
    width: 230px;
    height: 112px;
    text-align: justify;
  }
  .modal-ul {
    margin-left: 22px;
    padding: 0;
  }
  .modal-li {
    /* float: left;
    text-align: left;
    left: 0; */
    /* padding-left: 0; */
  }
  .modal-span1 {
    /* padding-left: 5px; */
    margin-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
  }

  /* ----------------------------FOOTER---------------------------- */

  .footer-container {
    height: 809px;
    background-image: url("../../assets/images/gradient-bg-footer-320.jpg");
  }
  .contacts {
    padding-top: 30px;
    width: 300px;
  }
  .footer-title {
    font-size: 25px;
    text-align: center;
    padding-right: 4px;
    padding-left: 0;
  }
  .footer-icon-contacts-email {
    padding-left: 22px;
    padding-bottom: 4px;
  }
  .link-email {
    padding-right: 35px;
  }
  .link-tel {
    padding-right: 35px;
    padding-bottom: 5px;
  }
  .footer-icon-contacts-phone {
    padding-bottom: 4px;
    padding-left: 25px;
  }
  .locations {
    margin-right: 3px;
  }
  .title-locations {
    padding-left: 10px;
    padding-top: 6px;
  }
  .link-box-locations {
    padding-top: 40px;
  }
  .link-map {
    padding-right: 8px;
    padding-top: 0;
  }
  .link-map2 {
    padding-top: 0;
  }
  .footer-image {
    padding-top: 40px;
  }
  .footer-puppy1 {
    display: none;
  }
  .footer-puppy3 {
    display: block;
  }
}
