/* -----------------------768px------------------------- */

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 30px;
  }

  /* ----------------------------HEADER---------------------------- */
  .header-container {
    background-image: url("../../assets/images/gradient-bg-768.jpg");
    height: 60px;
  }
  .logo-title {
    padding-top: 60px;
  }
  .header-nav {
    padding-top: 63px;
  }
  .header-li {
    padding-left: 30px;
  }

  /* ----------------------------NOT ONLY---------------------------- */
  .not-only-container {
    background-image: url("../../assets/images/gradient-bg-768.jpg");
  }
  .not-only-content {
    padding-top: 60px;
    padding-left: 125px;
  }
  .not-only-text {
    padding-top: 13px;
    padding-bottom: 37px;
    width: 460px;
  }
  .not-only-button {
    margin-top: 5px;
    margin-bottom: 100px;
    margin-left: 125px;
    padding-top: 15px;
  }
  .not-only-image1 {
    display: none;
  }
  .not-only-image2 {
    display: block;
    margin-left: 145px;
  }
  .not-only-image3 {
    display: none;
  }

  /* ----------------------------ABOUT---------------------------- */
  .about-container {
    padding-top: 62px;
    height: 1048px;
  }
  .about-block {
    flex-direction: column-reverse;
    align-items: center;
  }
  .about-content {
    margin-right: 0;
    padding-bottom: 55px;
  }
  .about-image1 {
    display: none;
  }
  .about-image2 {
    padding-left: 0;
    display: block;
  }
  .about-image3 {
    display: none;
  }

  /* ----------------------------OUR FRIENDS---------------------------- */
  .our-friends-title {
    padding-top: 80px;
  }
  .our-friends-catalog {
    flex-wrap: nowrap;
    padding-top: 55px;
  }
  .card {
    margin: 0;
  }
  .card1 {
    margin-right: 20px;
  }
  .card2 {
    margin-left: 20px;
  }
  .card3 {
    display: none;
  }
  .card-button {
    padding: 13px 44px;
    margin: 27px 0px;
  }
  .our-friends-button {
    padding: 0;
    /* margin-top: 65px; */
    width: 260px;
    height: 52px;
  }
  /* ------modal------- */
  .modal-content {
    max-width: 630px;
    height: 350px;
    margin: 10% auto;
  }
  .modal-image {
    width: 350px;
    height: 350px;
  }
  .modal-box {
    margin-left: 350px;
  }
  .modal-title {
    padding-top: 10px;
  }
  .modal-text {
    padding-top: 18px;
    padding-bottom: 0;
    width: 275px;
    font-size: 13px;
    line-height: 110%;
  }
  li {
    padding-bottom: 4px;
    color: #f1cdb3;
  }
  .modal-span1 {
    padding-left: 4px;
  }
  /* ----------------------------HELP---------------------------- */
  .help-container {
    height: 779px;
    padding-top: 80px;
  }
  .help-block {
    column-gap: 60px;
  }
  .help-text {
    width: 170px;
  }
  .help-box {
    margin-bottom: 57px;
  }

  /* ----------------------------IN ADDITION---------------------------- */
  .in-addition-container {
    height: 783px;
    padding-top: 80px;
  }
  .in-addition-block {
    align-items: center;
    flex-direction: column-reverse;
  }
  .in-addition-image1 {
    margin-right: 0;
    margin-top: 60px;
  }
  .in-addition-content {
    margin-left: 2px;
  }

  /* ----------------------------FOOTER---------------------------- */

  .footer-container {
    height: 639px;
  }
  .footer-block {
    justify-content: space-around;
  }
  .contacts {
    padding-top: 29px;
  }
  .locations {
    padding-top: 29px;
  }
  .footer-image {
    padding-top: 63px;
  }
}

/* -----------------------320px------------------------- */
@media (max-width: 320px) {
  .container {
    max-width: 320px;
    padding: 0;
  }
  .header-container {
    background-image: url("../../assets/images/gradient-bg-320.jpg");
    justify-content: space-between;
  }
  .logo-title {
    padding-top: 58px;
    padding-left: 10px;
  }
  .logo-subtitle {
    padding-top: 10px;
    padding-left: 15px;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 40px;
    right: 53px;
    z-index: 2;
  }
  .hamburger.change {
    transform: rotate(90deg);
  }
  .hamburger .line {
    width: 30px;
    height: 2px;
    display: block;
    background-color: #f1cdb3;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
    transition: 0.7s;
  }
  .hamburger:hover {
    cursor: pointer;
    /* filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
      brightness(92%) contrast(87%); */
  }
  /* .header-nav {
    display: none;
  } */
  .header-nav {
    position: fixed;
    width: 320px;
    right: -320px;
    height: 823px;
    top: 0;
    background-image: url("../../assets/images/bg-burger-320.jpg");
    overflow-x: hidden;
    transition: right 0.8s;
    z-index: 1;
    padding-top: 249px;
    padding-right: 21px;
  }

  .header-ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
    /* margin: 0; */
  }

  .header-li {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 41px;
    margin-right: 15px;
  }

  .header-link {
    font-size: 32px;
  }

  .header-nav.navbar {
    position: absolute;
    right: 0px;
  }
  .logo-title.navbar {
    position: absolute;
    right: 0px;
  }
  /* ----------------------------NOT ONLY---------------------------- */

  .not-only-container {
    background-image: url("../../assets/images/gradient-bg-320.jpg");
    padding-top: 0;
    /* height: 823px; */
    /* padding: 0; */
  }
  .not-only-block {
    justify-content: center;
  }
  .not-only-content {
    padding-left: 0;
    /* padding-top: 60px; */
    /* width: 300px; */
    /* padding-top: 133px; */
    /* padding-right: 30px; */
    /* z-index: 1; */
    /* position: absolute; */
    /* // position: relative; */
    /* // width: calc(30% - 32px); */
  }
  .not-only-title {
    font-size: 25px;
    letter-spacing: 0.06em;
    padding-top: 12px;
    display: flex;
    align-items: center;
    padding-left: 70px;
    text-indent: -17px;
    /* margin-left: 86px; */
    /* padding-left: 125px; */
  }
  .not-only-text {
    padding-top: 25px;
    padding-bottom: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 300px;
    /* margin-left: 16px; */
    /* padding-left: 30px; */
    /* text-indent: -1px; */
    /* white-space: post-wrap; */
    /* padding-right: 0; */
    /* padding-left: 10px; */
    /* height: 60px; */
  }
  .not-only-image1 {
    display: none;
  }
  .not-only-image2 {
    display: none;
  }
  .not-only-image3 {
    display: block;
    padding-left: 40px;
    padding-top: 105px;
    margin-left: 0;
  }
  .not-only-button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  /* ----------------------------ABOUT---------------------------- */
  .about-container {
    padding-top: 25px;
    height: 974px;
  }
  .about-content {
    padding-bottom: 16px;
  }
  .about-title {
    font-size: 25px;
    padding-bottom: 24px;
    padding-left: 52px;
    text-indent: -24px;
  }
  .about-text {
    padding-bottom: 23px;
    text-align: justify;
    display: flex;
    width: 270px;
  }
  .about-image1 {
    display: none;
  }
  .about-image2 {
    display: none;
  }
  .about-image3 {
    display: block;
  }

  /* ----------------------------OUR FRIENDS---------------------------- */
  .our-friends-container {
    height: 791px;
    padding-top: 41px;
  }
  .our-friends-title {
    font-size: 25px;
    padding-top: 0;
  }
  .our-friends-catalog {
    flex-direction: column;
    padding-top: 40px;
  }
  .card {
    margin: 0 auto;
    text-align: center;
  }
  .card1 {
    display: block;
  }
  .card2 {
    display: none;
  }
  /* .card3 {
    display: none;
  } */
  .card-name {
    padding-top: 25px;
    padding-bottom: 4px;
  }
  .previous {
    display: none;
  }
  .next {
    display: none;
  }
  .previous-320 {
    display: block;
  }
  .next-320 {
    display: block;
  }
  .our-friends-button {
    margin-top: 43px;
  }

  /* ------modal------- */
  .modal-content {
    max-width: 240px;
    height: 341px;
  }
  .modal-image {
    display: none;
  }
  .modal-box {
    padding: 0;
    margin: 0;
  }
  .modal-text {
    margin-bottom: 22px;
    padding-right: 0;
    width: 220px;
    height: 112px;
    text-align: justify;
  }
  li {
    float: left;
  }
  .modal-span1 {
    padding-left: 5px;
    padding-bottom: 0;
    padding-top: 0;
  }

  /* ----------------------------HELP---------------------------- */
  .help-container {
    height: 745px;
    padding-top: 41px;
  }
  .help-title {
    margin-bottom: 37px;
    font-size: 25px;
    line-height: 130%;
  }
  /* .help-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 281px;
    column-gap: 120px;
    align-items: center;
  } */
  .help-block {
    /* height: 555px; */
    margin-left: 15px;
    column-gap: 30px;
    /* row-gap: -12px; */
    /* row-gap: 10px; */
    justify-content: flex-start;
    /* padding: 0; */
    /* display: flex; */
    /* flex-w 15px
    rap: wrap; */
    /* padding: 0 15px; */
    /* gap: 0 10px 10px 10px; */
    /* width: 290px; */
    /* margin-left: 12px; */
    /* justify-content: baseline; */
    /* justify-content: space-evenly; */
    /* display: flex; */
    /* justify-content: center; */
    /* column-gap: 20px; */
    /* column-gap: 60px; */
    /* flex-direction: column; */
    /* left: 0;
    right: 0; */
    /* height: 281px; */
    /* column-gap: 180px; */
    /* align-items: center; */
  }
  .icon {
    /* padding-top: 30px; */
    /* padding-bottom: 40px; */
    /* padding-bottom: -10px; */
    /* row-gap: 60px; */
    /* margin-top: 10px; */
    /* margin-bottom: 25px; */
    /* padding-top: 60px; */
    /* padding-bottom: 0; */
    /* column-gap: 30px; */
    /* column-gap: 100px; */
    /* padding-top: 20px; */
    /* margin-bottom: 20px; */
    /* column-gap: 25px;
    row-gap: 20px; */
    /* background-repeat: no-repeat;
    background-position: center; */
    /* width: 30px;
    height: 30px; */
    /* margin: 0 auto; */
    /* margin-right: 7px; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* margin-right: 2px; */
    /* margin-top: 20px; */
    margin-bottom: 15px;
  }
  .help-text {
    /* row-gap: 30px; */
    /* column-gap: 20px; */
    font-size: 15px;
    line-height: 110%;
    /* padding-right: 30px; */
    /* margin-right: 10px; */
    width: 130px;
    /* padding-bottom: 10px; */
    /* padding-top: 10px; */
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    /* margin-top: -10px; */
    /* margin-left: 10px; */
  }
  .help-box {
    /* width: 130px; */
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    margin-bottom: 25px;
    /* margin-bottom: 55px; */
    /* column-gap: 5px; */
    /* height: 87px; */
    /* column-gap: 15px; */
    /* margin-bottom: 57px; */
  }

  .help-icon1 {
    background-image: url("../../assets/icons/pet-food-320.svg");
  }
  .help-icon2 {
    background-image: url("../../assets/icons/transportation-320.svg");
  }
  .help-icon3 {
    background-image: url("../../assets/icons/toys-320.svg");
  }
  .help-icon4 {
    background-image: url("../../assets/icons/bowls-and-cups-320.svg");
  }
  .help-icon5 {
    background-image: url("../../assets/icons/shampoos-320.svg");
  }
  .help-icon6 {
    background-image: url("../../assets/icons/vitamins-320.svg");
  }
  .help-icon7 {
    background-image: url("../../assets/icons/medicines-320.svg");
  }
  .help-icon8 {
    background-image: url("../../assets/icons/collars-or-leashes-320.svg");
  }
  .help-icon9 {
    background-image: url("../../assets/icons/sleeping-area-320.svg");
  }

  /* ----------------------------IN ADDITION---------------------------- */
  .in-addition-container {
    height: 542px;
    padding-top: 41px;
  }
  .in-addition-title {
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
    /* margin-bottom: 37px; */
  }
  .in-addition-text {
    /* padding-top: 1px; */
    /* padding-bottom: 2px; */
    /* line-height: 110%; */
    letter-spacing: 0;
    line-height: 160%;
    text-align: center;
  }

  .in-addition-text-transparent {
    text-align: justify;
    padding-left: 18px;
    padding-right: 20px;
  }
  .credit-button {
    width: 281px;
    margin-left: 18px;
    /* padding: 8px 11px; */
    height: 43px;
    border-radius: 9px;
    border: none;
    /* margin: 20px 0; */
    /* padding-left: 58px; */
    /* position: relative; */
    /* padding: 0; */
    /* display: flex; */
    /* justify-content: space-around; */

    /* 
    padding-top: 32px; */
  }
  .credit-link {
    font-size: 15px;
    line-height: 110%;
    transition: 0.7s;
    /* margin-left: 40px; */
  }
  .in-addition-image1 {
    display: none;
  }
  .in-addition-image3 {
    display: block;
    padding-top: 42px;
  }

  /* ----------------------------FOOTER---------------------------- */

  .footer-container {
    height: 809px;
    background-image: url("../../assets/images/gradient-bg-footer-320.jpg");
  }
  .footer-title {
    font-size: 25px;
    text-align: center;
    /* width: 270px; */
    padding-left: 39px;
    /* margin-right: 0; */
  }
  /* .link-box-contacts {
    display: flex;
    justify-content: space-between;
  } */
  .footer-icon-contacts-email {
    padding-left: 34px;
    padding-bottom: 4px;
  }
  .link-email {
    padding-right: 35px;
  }
  .link-tel {
    padding-bottom: 5px;
  }
  .footer-icon-contacts-phone {
    margin-left: 5px;
    padding-bottom: 4px;
    padding-left: 34px;
  }
  .title-locations {
    width: 270px;
    padding-left: 30px;
    padding-top: 6px;
  }
  .link-box-locations {
    padding-top: 40px;
  }
  .link-map {
    padding-right: 8px;
    padding-top: 0;
  }
  .footer-image {
    padding-top: 40px;
  }
  .footer-puppy1 {
    display: none;
  }
  .footer-puppy3 {
    display: block;
  }
}
