@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 30px;
  }

  /* ----------------------------HEADER---------------------------- */
  .header-container {
    background-image: url("../../assets/images/gradient-bg-768.png");
    height: 60px;
  }
  .logo-title {
    padding-top: 60px;
  }

  /* ----------------------------NOT ONLY---------------------------- */
  .not-only-container {
    background-image: url("../../assets/images/gradient-bg-768.png");
  }
  .not-only-content {
    padding-top: 60px;
    padding-left: 125px;
  }
  .not-only-text {
    padding-top: 13px;
    padding-bottom: 37px;
    width: 460px;
  }
  .not-only-button {
    margin-top: 5px;
    margin-bottom: 100px;
    margin-left: 125px;
    padding-top: 15px;
  }
  .not-only-image {
    display: none;
  }
  .not-only-image2 {
    display: block;
    margin-left: 145px;
  }

  /* ----------------------------ABOUT---------------------------- */
  .about-container {
    padding-top: 80px;
    height: 1048px;
  }
  .about-block {
    flex-direction: column-reverse;
    align-items: center;
  }
  .about-content {
    margin-right: 0;
    padding-bottom: 55px;
  }
  .about-image {
    padding-left: 0;
  }

  /* ----------------------------OUR FRIENDS---------------------------- */
  .our-friends-title {
    padding-top: 80px;
  }
  .our-friends-catalog {
    flex-wrap: nowrap;
    padding-top: 55px;
  }
  .card {
    margin: 0;
  }
  .card1 {
    margin-right: 20px;
  }
  .card2 {
    margin-left: 20px;
  }
  .card3 {
    display: none;
  }
  .card-button {
    padding: 13px 44px;
    margin: 27px 0px;
  }
  .our-friends-button {
    padding: 0;
    margin-top: 65px;
    width: 260px;
    height: 52px;
  }

  /* ----------------------------HELP---------------------------- */
  .help-container {
    height: 779px;
    padding-top: 80px;
  }
  .help-block {
    column-gap: 62px;
  }
  .help-text {
    width: 170px;
  }
  .help-box {
    margin-bottom: 55px;
  }
}
