@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial.ttf");
}

@font-face {
  font-family: "Georgia";
  font-weight: 400;
  src: url("../../assets/fonts/georgia.ttf");
}

@font-face {
  font-family: "Georgia";
  font-weight: 700;
  src: url("../../assets/fonts/georgiab.ttf");
}

:root {
  --font-additional: "Georgia", serif;
  --color-primary: #f1cdb3;
  --color-modal: #000000;
  --color-transparent: transparent;
  --color-light-s: #fafafa;
  --color-light-m: #fddcc4;
  --color-light-l: #f6f6f6;
  --color-light-xl: #ffffff;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-3xl: #292929;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  font-family: "Arial", serif;
  font-style: normal;
  font-weight: 400;
}

/* ----------------------------HEADER---------------------------- */

.header {
  background-image: url("../../assets/images/bg-1280.jpg");
  background-size: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  width: calc(100% - 40);
}

.header-container {
  display: flex;
  background-repeat: no-repeat;
  background-position: center 0;
  align-items: center;
}

.logo-title {
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  display: flex;
  align-items: center;
  color: var(--color-primary);
  letter-spacing: 0.06em;
  padding-top: 58px;
  margin: 0;
  cursor: pointer;
}

.logo-subtitle {
  font-size: 1.3rem;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: var(--color-light-xl);
  padding-top: 10px;
  padding-left: 5px;
  cursor: pointer;
}

.header-nav {
  margin-left: auto;
  padding-top: 58px;
  padding-right: 3px;
}

.header-li {
  display: inline-block;
  list-style: none;
  padding-left: 32px;
}

.header-link {
  font-size: 1.5rem;
  line-height: 160%;
  color: var(--color-dark-s);
  text-decoration: none;
  transition: 0.7s;
  border-bottom: 3px solid var(--color-transparent);
}

.header-link:hover {
  color: var(--color-light-s);
}

.bottom {
  border-bottom: 3px solid var(--color-primary);
  padding-bottom: 4px;
  color: var(--color-light-s);
}

.shadow {
  display: none;
}

/* ----------------------------NOT ONLY---------------------------- */
.not-only {
  background-image: url("../../assets/images/bg-1280.jpg");
  background-size: 100%;
}

.not-only-container {
  padding-top: 60px;
}

.not-only-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.not-only-content {
  max-width: 460px;
  padding-top: 163px;
}

.not-only-title {
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  font-size: 4.4rem;
  color: var(--color-light-xl);
  line-height: 130%;
  padding-bottom: 28px;
}

.not-only-text {
  padding-top: 15px;
  padding-bottom: 40px;
  font-size: 1.5rem;
  line-height: 160%;
  color: var(--color-dark-s);
}

.not-only-button {
  border: none;
  padding: 17px 0;
  width: 207px;
  height: 52px;
  background: var(--color-primary);
  border-radius: 100px;
  transition: 0.7s;
}

.not-only-button:hover {
  background-color: var(--color-light-m);
  cursor: pointer;
}

.not-only-link {
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 1px;
  color: var(--color-dark-3xl);
}

.not-only-image1 {
  display: block;
}

.not-only-image2 {
  display: none;
}

.not-only-image3 {
  display: none;
}

/* ----------------------------ABOUT---------------------------- */
.about {
  background-color: var(--color-light-xl);
  background-size: 100%;
}
.about-container {
  padding-top: 77px;
  height: 588px;
}

.about-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.about-image1 {
  display: block;
  padding-left: 52px;
  padding-top: 3px;
}

.about-image2 {
  display: none;
}

.about-image3 {
  display: none;
}

.about-content {
  max-width: 430px;
  margin-right: 52px;
}

.about-title {
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  padding-top: 17px;
  padding-bottom: 23px;
}

.about-text {
  display: flex;
  padding-bottom: 26px;
  font-size: 1.5rem;
  line-height: 160%;
  color: var(--color-dark-xl);
}

/* ----------------------------OUR FRIENDS---------------------------- */
.our-friends {
  background-color: var(--color-light-l);
  background-size: 100%;
}

.our-friends-container {
  height: 877px;
  padding-top: 80px;
}

.our-friends-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.our-friends-title {
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.our-friends-catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 57px;
}

.previous {
  flex-shrink: 0;
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  background-color: var(--color-transparent);
  border-radius: 50%;
  margin-top: 195px;
  transition: 0.7s;
}

.previous:hover {
  background-color: var(--color-light-m);
  cursor: pointer;
  border: var(--color-light-m);
}

.next {
  flex-shrink: 0;
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  background-color: var(--color-transparent);
  border-radius: 50%;
  margin-top: 195px;
  transition: 0.7s;
}

.next:hover {
  background-color: var(--color-light-m);
  cursor: pointer;
  border: var(--color-light-m);
}

.arrow {
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 3px;
}

/* ==================== */

.carousel-wrapper {
  width: 1080px;
  overflow: hidden;
}

.carousel {
  position: relative;
  left: -1080px;
  display: flex;
}

@keyframes move-right {
  from {
    left: -1080px;
  }
  to {
    left: -2160px;
  }
}

@keyframes move-left {
  from {
    left: -1080px;
  }
  to {
    left: 0px;
  }
}

.transition-right {
  animation-name: move-right;
  animation-duration: 2s;
}

.transition-left {
  animation-name: move-left;
  animation-duration: 2s;
}

/* ============================= */
.card-box {
  display: flex;
}

.card {
  justify-content: space-between;
  margin: 0 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light-s);
  border-radius: 9px;
  transition: 0.7s;
}

.card:hover {
  background-color: var(--color-light-xl);
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card-image {
  border-radius: 9px 9px 0px 0px;
}

.card-name {
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  padding-top: 33px;
  padding-bottom: 2px;
}

.card-button {
  padding: 14px 44px;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  background-color: var(--color-light-s);
  margin: 26px 0px;
  transition: 0.7s;
}

.card:hover .card-button {
  background-color: var(--color-light-m);
  cursor: pointer;
  border: var(--color-light-m);
}

/* ----modal---- */
.card-link {
  text-decoration: none;
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
}

.modal-block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(41, 41, 41, 0.6);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.modal-block.active-modal {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

.modal-block.active-modal .modal-content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.modal-content {
  position: relative;
  max-width: 900px;
  height: 500px;
  margin: 10% auto;
  border-radius: 9px;
  background-color: var(--color-light-s);
  border: none;
  transform: translate(0px, -100%);
  opacity: 0;
  transition: all 0.7s ease 0s;
}

.close-all {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.close {
  background-color: var(--color-transparent);
  line-height: 25px;
  position: absolute;
  right: -43px;
  top: -52px;
  width: 52px;
  height: 52px;
  padding: 10px 15px;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  transition: 0.7s;
}

.close:hover {
  background-color: var(--color-light-m);
  cursor: pointer;
}

.modal-image {
  position: absolute;
  border-radius: 9px;
  border: none;
  width: 500px;
  height: 500px;
  top: 0;
  left: 0;
}

.modal-box {
  margin-left: 520px;
  display: flex;
  flex-direction: column;
}

.modal-title {
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-modal);
}

.modal-subtitle {
  padding-left: 10px;
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-modal);
}

.modal-text {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 10px;
  width: 360px;
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 114%;
  letter-spacing: 0.06em;
  color: var(--color-modal);
}

.modal-ul {
  padding: 20px;
}

.modal-li {
  padding-bottom: 10px;
  color: var(--color-primary);
}

.modal-span1 {
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-modal);
  padding-left: 5px;
}

.modal-span2 {
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-modal);
}

/* ------------------ */
.previous-next-box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 22px;
}

.previous-320 {
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  background-color: var(--color-transparent);
  border-radius: 50%;
  margin-right: 5px;
  display: none;
}

.next-320 {
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  background-color: var(--color-transparent);
  border-radius: 50%;
  margin-left: 5px;
  display: none;
}

.our-friends-button {
  padding: 15px 45px;
  background: var(--color-primary);
  border-radius: 100px;
  border: none;
  margin: 0 auto;
  display: block;
  flex-shrink: 0;
  margin-top: 42px;
  height: 52px;
  transition: 0.7s;
}

.our-friends-button:hover {
  background-color: var(--color-light-m);
  cursor: pointer;
  border: var(--color-light-m);
}

.our-friends-link {
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  color: var(--color-dark-3xl);
  letter-spacing: 0.06em;
}

/* ----------------------------HELP---------------------------- */
.help {
  background-color: var(--color-light-xl);
  background-size: 100%;
}

.help-container {
  height: 611px;
  padding-top: 83px;
}

.help-title {
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 127%;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  margin-bottom: 57px;
  text-align: center;
}

.help-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 281px;
  column-gap: 120px;
  align-items: center;
}

.help-box {
  margin-bottom: 55px;
  text-align: center;
}

.help-icon1 {
  background-image: url("../../assets/icons/pet-food.svg");
}
.help-icon2 {
  background-image: url("../../assets/icons/transportation.svg");
}
.help-icon3 {
  background-image: url("../../assets/icons/toys.svg");
}
.help-icon4 {
  background-image: url("../../assets/icons/bowls-and-cups.svg");
}
.help-icon5 {
  background-image: url("../../assets/icons/shampoos.svg");
}
.help-icon6 {
  background-image: url("../../assets/icons/vitamins.svg");
}
.help-icon7 {
  background-image: url("../../assets/icons/medicines.svg");
}
.help-icon8 {
  background-image: url("../../assets/icons/collars-or-leashes.svg");
}
.help-icon9 {
  background-image: url("../../assets/icons/sleeping-area.svg");
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.help-text {
  text-align: center;
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

/* ----------------------------IN ADDITION---------------------------- */
.in-addition {
  background-color: var(--color-light-l);
  background-size: 100%;
}

.in-addition-container {
  height: 462px;
  padding-top: 80px;
}

.in-addition-block {
  display: flex;
  justify-content: center;
}

.in-addition-image1 {
  height: 261px;
  margin-right: 25px;
  margin-top: 10px;
}

.in-addition-image3 {
  display: none;
}

.in-addition-content {
  margin-left: 5px;
  max-width: 380px;
}

.in-addition-title {
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  padding-bottom: 20px;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.in-addition-text {
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.credit-button {
  padding: 11px 15px;
  width: 349px;
  height: 43px;
  background: var(--color-primary);
  border-radius: 9px;
  border: none;
  margin: 20px 0;
  padding-left: 58px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.7s;
}

.credit-button:hover {
  background-color: var(--color-light-m);
  cursor: pointer;
  background-image: url("../../assets/icons/credit-card.svg");
  background-repeat: no-repeat;
  background-position: 15px 10px;
}

.credit-icon {
  background-image: url("../../assets/icons/credit-card.svg");
  background-repeat: no-repeat;
  background-position: 15px 10px;
}

.credit-link {
  text-decoration: none;
  color: var(--color-dark-l);
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  transition: 0.7s;
}

.in-addition-text-transparent {
  font-style: italic;
  font-size: 1.2rem;
  line-height: 18px;
  color: var(--color-dark-m);
}

/* ----------------------------FOOTER---------------------------- */
.footer {
  background-image: url("../../assets/images/bg-footer-1280.jpg");
  background-size: 100%;
}

.footer-container {
  height: 350px;
}

.footer-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts {
  padding-top: 55px;
}

.footer-title {
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-light-xl);
  width: 280px;
}

.link-box-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 38px;
}

.footer-icon-contacts-email {
  padding-right: 20px;
  padding-bottom: 2px;
}

.footer-icon-contacts-phone {
  padding-right: 20px;
  padding-bottom: 2px;
}

.footer-link {
  font-family: var(--font-additional);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  text-decoration: none;
}

.link-email {
  padding-right: 28px;
}

.link-tel {
  padding-right: 40px;
}

.locations {
  padding-top: 55px;
}

.link-box-locations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 302px;
  padding-top: 32px;
}

.link-map {
  padding-top: 2px;
  padding-right: 10px;
}

.link-map2 {
  padding-right: 32px;
}

.footer-image {
  padding-top: 40px;
}

.footer-puppy3 {
  display: none;
}
