.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

.dark-section {
  background-color: #030303;
}

.section {
  border: 1px solid red;
  padding: 75px 0;
}

.container {
  margin: 0 auto;
  width: 1440px;
}

.promo-container {
  background-color: #030303;
  height: 842px;
}

.promo-content {
  position: absolute;
  max-width: 593px;
}

.dark-section-title {
  color: #FFFFFF;
}

.promo-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 2px;
  border: none;
  color: #FFFFFF;
  background: #710707;
  border-radius: 10px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  height: 75px;
  width: 360px;
  color: white;
}

.promo-image {
  background-position: calc(100% - 20px) calc(100% - 10px);
  background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(16.19%, rgba(0, 0, 0, 0.5)), color-stop(30.73%, rgba(0, 0, 0, 0))), url(1.jpg);
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url(1.jpg);
}

.logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  background-image: url("./assets/svg/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 49px;
  height: 26px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  margin-right: 25px;
  fill: #ffffff;
}

.logo-text {
  color: #FFFFFF;
  font-family: 'Forum', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.nav {
  max-width: 720px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-link {
  display: inline-block;
  list-style: none;
  padding-left: 30px;
  height: 26px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  text-decoration: none;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  color: #FFFFFF;
}

.section-title {
  font-family: 'Forum', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.gold-section-title {
  color: #9D8665;
}

.underline-title {
  position: relative;
  margin-bottom: 40px;
}

.underline-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
  border-radius: 0px;
  width: 100%;
}

.item-title {
  font-family: 'Forum', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
}

.underline-title-image {
  position: relative;
}

.underline-title-image::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #710707;
  border-radius: 0px;
  width: 300px;
}

.section-item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 60px 0;
}

.item-text1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
}

.item-text2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.section-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.video-section {
  padding-top: 90px 0 75px 0;
}
/*# sourceMappingURL=style.css.map */