body {
  /* width: 1920px; */
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  width: 1440px;
}

a {
  text-decoration: none;
}

.section-title {
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 80px;
  /* display: inline-block; */
}

.section-title-dark {
  color: #ffffff;
}

.section-title-gold {
  color: #9d8665;
}

.underline-title {
  position: relative;
}

.underline-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
  border-radius: 0px;
  width: 100%;
}

/* --------------HEADER--------------- */
/* .header {
  background-color: #030303;
} */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #030303;
  height: 150px;
  /* height: 100%; */
}

.logo {
  display: flex;
  justify-content: space-between;
  width: 199px;
  height: 33px;
}

.logo-image {
  background-image: url("./assets/svg/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 49px;
  height: 26px;
  transition: 0.7s;
  fill: #ffffff;
}

.logo-text {
  color: #ffffff;
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: 0.7s;
  color: #ffffff;
}

.header-nav {
  width: 775px;
  height: 26px;
  color: #ffffff;
  padding-right: 80px;
  /* max-width: 720px;
  margin-left: auto;
  padding-right: 31px; */
}

.header-ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header-li {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

.header-link {
  display: inline-block;
  list-style: none;
  padding-left: 30px;
  width: 63px;
  height: 26px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  text-decoration: none;
  transition: 0.7s;
  color: #ffffff;
}

/* --------------WELCOME--------------- */
.welcome {
  background-color: #030303;
}

.welcome-container {
  position: relative;
  height: 810px;
  /* height: 100%; */
  /* height: 842px; */
  /* padding: 75px 0; */
}

.welcome-content {
  z-index: 1;
  padding-top: 150px;
  position: absolute;
  /* max-width: 593px; */
  /* // position: relative; */
  /* // width: calc(30% - 32px); */
}

.welcome-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #ffffff;
  margin-top: 25px;
  /* margin-bottom: 25px; */
}

.welcome-button {
  font-style: normal;
  font-weight: 300;
  display: inline-block;
  margin-top: 75px;
  padding: 0 64px;
  color: #ffffff;
  background-color: #710707;
  border-radius: 10px;
  font-size: 22px;
  line-height: 75px;
  transition: 0.7s;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
}

.welcome-image {
  position: absolute;
  right: 0;
  height: 750px;
  /* width: 1000px; */
  background: linear-gradient(
      90deg,
      #000000 0%,
      rgba(0, 0, 0, 0.5) 16.19%,
      rgba(0, 0, 0, 0) 30.73%
    ),
    url(1.jpg);
  /* z-index: 1; */
  /* width: 100%; */
  /* height: 810px; */
}

/* --------------VISITING--------------- */
.visiting {
  background-color: white;
}
.visiting-container {
  height: 1116px;
  padding: 75px 0;
  background-color: white;
}

.visiting-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 75px 60px; */
}

.visiting-box {
  flex-basis: 30%;
  /* padding: 60px 0; */
  /* flex-wrap: wrap; */
  /* display: flex;
  /* flex-direction: column;  */
  /* justify-content: space-around; */
  /* // align-items: center;
  // text-align: center; */
  /* display: block; */
  /* color: #000000;
  transition: 1s; */
}

.visiting-image {
  width: 440px;
  height: 285px;
  padding-bottom: 10px;
}

.visiting-title {
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

.underline-title-image {
  position: relative;
}

.underline-title-image::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #710707;
  border-radius: 0px;
  /* // width: 20%; */
  width: 300px;
  transition: 1s;
}

.visiting-text1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  /* //   margin-bottom: 10px; */
}

.visiting-text2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 30px;
}

/* --------------EXPLORE--------------- */

.explore {
  background-color: #030303;
}

.explore-container {
  display: flex;
  align-items: center;
  gap: 0 60px;
  height: 865px;
  padding: 75px 0;
}

.explore-content {
  display: flex;
  justify-content: space-between;
}

.explore-text {
  width: 660px;
  height: 77px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #ffffff;
  margin-top: 25px;
  margin-right: 60px;
  /* margin-bottom: 25px; */
  /* padding-bottom: 25px; */
}

.explore-span {
  color: #caaa7d;
}

.underline-title {
  position: relative;
}

.underline-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
  border-radius: 0px;
  width: 90%;
}

/* .explore-image {
  height: 100%;
  width: 50%;
  right: 0;
  bottom: 0;
  object-fit: cover;
} 
.explore-info{
  width: 660px;
}
.explore-text:last-child{
  padding: 0;
} */

/* --------------VIDEO--------------- */

.video {
  background-color: white;
}

.video-container {
  height: 1246px;
  background-color: white;
  padding: 75px 0;
  box-sizing: content-box;
}

.video-content {
  display: flex;
  justify-content: space-between;
}

.video-text {
  width: 50%;
  height: 90px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #000000;
  /* width: 720px; */
  /* left: 720px;
  top: 0px; */
}

.video-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video-image {
  height: 650px;
}

.video-button {
  background-image: url("./assets/svg/play.svg");
  position: absolute;
  background-color: transparent;
  width: 220px;
  height: 220px;
  transition: 0.7s;
  margin-bottom: 40px;
  border: none;
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -67%); */
  /* z-index: 3; */
  /* fill: #ffffff; */
  /* margin: auto; */
  padding: 0;
}

.video-button:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  /* color: #9d8665; */
  cursor: pointer;
}

.video-control-box {
  display: flex;
  direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 85px;
  background-color: #000000;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  /* border: 1px solid #bdae82;
  border-top: 0; */
  /* margin-top: -4px; */
}

.play-icon {
  background-image: url("./assets/svg/play-icon.svg");
  width: 23px;
  height: 31px;
  margin: 30px;
  /* -webkit-mask-size: cover; */
}

.volume-icon {
  background-image: url("./assets/svg/volume-icon.svg");
  width: 38px;
  height: 31px;
  margin: 30px;
  /* -webkit-mask-size: cover; */
}

.square-icon {
  background-image: url("./assets/svg/square-icon.svg");
  width: 35px;
  height: 35px;
  margin: 30px;
  /* -webkit-mask-size: cover; */
}

.progress {
  background: linear-gradient(
    to right,
    #710707 0%,
    #710707 50%,
    #c4c4c4 50%,
    #c4c4c4 100%
  );
  height: 8px;
  width: calc(80% - 160px);
  appearance: none;
  outline: none;
  /* width: 64.5%; */
  /* transition: background 450ms ease-in; */
}

.volume {
  background: linear-gradient(
    to right,
    #710707 0%,
    #710707 40%,
    #c4c4c4 40%,
    #c4c4c4 100%
  );
  width: calc(20% - 30px);
  height: 8px;
  appearance: none;
  outline: none;
  /* width: 10.76%; */
  /* transition: background 450ms ease-in; */
}

.progress::-webkit-slider-thumb,
.volume::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #ffffff;
}

.video-block-image {
  display: flex;
  justify-content: space-between;
  /* height: 254px; */
  padding: 30px 0;
  /* gap: 45px; */
}

.video-box {
  /* flex-basis: 30%; */
  margin: 20px 0;
  display: flex;
  justify-content: center;
  /* height: 100%;
  width: 100%;
 */
  align-items: center;
}

.video-box-title {
  display: flex;
  /* flex-direction: row; */
  /* align-items: flex-start; */
  align-self: flex-start;
  padding-top: 10px;
  /* padding-left: 80px; */
  /* display: inline-block; */
  /* background-position: center 0; */
  /* margin-left: 10px; */
  /* justify-content: space-between; */
  /* justify-content: flex-start; */
}

.ellipse {
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: whitesmoke;
  background-color: transparent !important;
  outline: none;
  background-image: none;
  /* background-image: rgba(0, 0, 0, 0); */
  /* opacity: 0; */
  /* margin-top: 10px;
  align-self: flex-start; */
  /* background-color: transparent; */
  /* background-size: contain; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* transition: 0.7s; */
  border: none;
  border: 0;
  /* padding: 0; */
  /* float: left; */
  /* margin: 0 90px 95px 0; */
  /* position: relative; */
  /* margin-right: 50px; */
  /* background-position: 400px 25px; */
  /* 
  top: 0px;
  left: 0px; */
}
.video-title {
  color: #ffffff;
  position: absolute;
  /* align-self: flex-start;
  margin-top: 10px; */
  /* margin: auto; */
  /* z-index: 10; */
}

.three-dots {
  position: absolute;
  width: 20px;
  height: 20px;
  /* align-self: flex-start;
  margin-top: 10px; */
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
}

.video-image1 {
  /* position: relative; */
  /* height: 100%;
  width: 100%; */
}
.youtube-icon {
  background-image: url("./assets/svg/youtube-icon.svg");
  background-size: contain;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  /* transition: 0.7s; */
  border: none;
  padding: 0;
  position: absolute;
  /* margin-right: 40px; */
}
