// body {
//     width: 1920px;
// }

.header-container {
//  background-image: url("./assets/img/bg.jpg");
//  background-repeat: no-repeat;
//  background-position: center 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
  }

  .dark-section {
    background-color: #030303;
}
  .section {
    border: 1px solid red;
    padding: 75px 0;
    // padding: 0 75px;
}
  .container {
    margin: 0 auto;
    width: 1440px;
    // width: 1920px;
//  padding: 0 20px;
}
  
//   body {
//     background: #000000;
//    
//   }

.promo-container {
    background-color: #030303;
    height: 842px;
   

    // background-image: url("./assets/img/bg.jpg");
    // background-position: center -90px;
    // background-repeat: no-repeat;
    // padding-top: 160px;
    // padding-left: 80px;
   
}
.promo-content {
    position: absolute;
    max-width: 593px;
    // right: -32px;
    // padding-right: 30px;
    // display: flex;
        // padding: 35px;
        // position: relative;
        // width: calc(30% - 32px);
}
.dark-section-title {
    color: #FFFFFF;
    // margin-bottom: 10px;
}

.promo-text {
    // margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.button {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 26px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
letter-spacing: 2px;
border: none;
color: #FFFFFF;
background: #710707;
border-radius: 10px;
transition: 0.7s;
height: 75px;
width: 360px;
color: white;
}
.promo-image {
    // position: absolute;
    // margin-top: 32px;
    // margin-bottom: 60px;
    // margin-right: 240px;
    // margin-right: auto;
    // right: -32px;
    // left: -100px;
    // width: 1000px;
    // height: 750px;
    // position: relative;
    background-position: calc(100% - 20px) calc(100% - 10px);
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url(1.jpg);
}


.logo-box {
    display: flex;

}

  .logo {
    background-image: url("./assets/svg/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 49px;
    height: 26px;
    transition: 0.7s;
 margin-right: 25px;
    fill: #ffffff;
  }

  .logo-text {
      color: #FFFFFF;
      font-family: 'Forum', cursive;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 31px;
letter-spacing: 5px;
text-transform: uppercase;  

color: #FFFFFF;
  }

  .nav {
      max-width: 720px;
//     margin-left: auto;
//     padding-right: 31px;
  }

    ul {
        display: flex;
    }

  .nav-link {
    display: inline-block;
    list-style: none;
    padding-left: 30px;
    // width: 63px;
height: 26px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 100;
font-size: 22px;
line-height: 26px;
letter-spacing: 2px;
text-decoration: none;
  transition: 0.7s;
color: #FFFFFF;
  }
    

  .section-title {
    font-family: 'Forum', cursive;
font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 90px;
letter-spacing: 5px;
text-transform: uppercase;
margin-bottom: 30px;
// display: inline-block;
}
.gold-section-title {
    color: #9D8665;
}

.underline-title {
    position: relative;
    margin-bottom: 40px;
  }
  .underline-title::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #710707;
    border-radius: 0px;
    width: 100%;
    // margin-top: 40px;
  
  }
  
  .item-title {
    font-family: 'Forum', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
    // margin-bottom: 10px;
    
  }
  .underline-title-image {
    position: relative;

  }
  .underline-title-image::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #710707;
    border-radius: 0px;
    // width: 20%;
    width: 300px;

  }
 .section-item {
    //  display: flex;
    //  flex-direction: column;
    //  justify-content: space-around;
     flex-basis: 30%;
// align-items: center;
// text-align: center;
padding: 60px 0;

 }
 

//   .section-item:after {
//     content: "";
//     width: 30%;
//     display: block;
//   }
 
.item-text1 {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 100;
font-size: 22px;
line-height: 26px;
color: #000000;
padding-top: 10px;
padding-bottom: 10px;
//   margin-bottom: 10px;
}
.item-text2 {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 100;
font-size: 18px;
line-height: 21px;
color: #000000;
}

.section-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

// .section-item {
    // width: 440px;
// height: 285px;
//   width: 320px;
//   height: 240px;
//   text-align: center;
// }

//   .logo:hover {
//     filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
//       contrast(87%);
//   }
//   .nav-li:hover {
//     filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
//       contrast(87%);
//   }

.video-section {
    padding-top: 90px 0 75px 0;
}
